= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :subject
    = f.input :starts_at
    = f.input :ends_at
    = f.input :event_duration_in_minutes

  .form-actions
    = f.button :submit
