%h1 Listing events

%table
  %tr
    %th Name
    %th Subject
    %th Starts at
    %th Ends at
    %th Event duration in minutes
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.subject
      %td= event.starts_at
      %td= event.ends_at
      %td= event.event_duration_in_minutes
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
