!!!
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
/ <![endif]
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : app_title
    %meta{:content => content_for?(:description) ? yield(:description) : app_title, :name => "description"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield(:head)
  %body
    .container
      .main-container#main-container
        .main-container-inner
          .main-content
            = render 'layouts/messages'
            -##breadcrumbs.breadcrumbs
              #ul.breadcrumb
                #li
                  #i.glyphicon.glyphicon-home
                  =link_to t('main_menu.home'),root_path
                -#-@breadcrumb.each_with_index do |b,i|
                  -unless b[:name].nil?
                    #li class=(i+1 == @breadcrumb.size ? 'active':'')
                      -unless b[:url].empty?
                        =link_to b[:name],b[:url]
                      -else
                        =b[:name]

            .page-content
              = yield
    %footer
      %hr
      %p.text-center
        %small
          = link_to root_path do
            %i.glyphicon.glyphicon-road
            &nbsp;#{app_title}


    = javascript_include_tag "application", "data-turbolinks-track" => true
    -#= javascript_include_tag params[:controller]